.padre {
    display: flex;
    background-color: red;

    height: 200px;
    gap: 1rem;
    flex-wrap: wrap;
}

.hijo:nth-child(1) {
    background-color: green;
    width: 100%;
}

.hijo:nth-child(2) {
    background-color: blue;
    width: 100%;
}

@media (min-width: 600px) {
    .padre {
        justify-content: space-between;
    }

    .hijo:nth-child(1) {
        background-color: green;
        width: calc(50% - 1rem);
    }

    .hijo:nth-child(2) {
        background-color: blue;
        width: calc(50% - 1rem);
    }
}
